[Unit]
Description=Hudson Valley Flying Circus Web Application
After=network.target

[Service]
WorkingDirectory=/var/www/hvfc/api
ExecStart=/usr/bin/dotnet /var/www/hvfc/api/hvfc.dll --environment Production
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=hvfc
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://localhost:5025

[Install]
WantedBy=multi-user.target